# Data cleaning assignment

1.Problem Statement:

          It happens all the time: someone gives you data containing malformed strings,
Python, lists and missing data. How do you tidy it up so you can get on with the
analysis?

Take this monstrosity as the DataFrame to use in the following puzzles:


df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [91]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, 'np.nan', 10065, 'np.nan', 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

In [92]:
df

            From_To FlightNumber  RecentDelays              Airline
0      LoNDon_paris        10045      [23, 47]               KLM(!)
1      MAdrid_miLAN       np.nan            []    <Air France> (12)
2  londON_StockhOlm        10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis       np.nan          [13]       12. Air France
4   Brussels_londOn        10085      [67, 32]          "Swiss Air"

1. Some values in the the FlightNumber column are missing. These numbers are
meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column).

In [100]:
df["FlightNumber"].fillna("np.nan",0)

ValueError: Cannot specify both 'value' and 'method'.

In [88]:
lll= []
for i in df["FlightNumber"]:
    if int(i)==true:
        lll.append(int(i))
        
lll

ValueError: cannot convert float NaN to integer

2. The From_To column would be better as two separate columns! Split each
string on the underscore delimiter _ to give a new temporary DataFrame with
the correct values. Assign the correct column names to this temporary
DataFrame.

In [73]:
import pandas as pd
first = ""
f1=[]
f2=[]
foamtnames =list( df["From_To"])
for i in foamtnames:
    first = i.split("_")[0]
    last = i.split("_")[1]
    firstformat = first[0].upper() + first[1:].lower()
    f1.append(firstformat)
    lastformat = last[0].upper() + last[1:].lower()
    f2.append(lastformat)
data1 = {"first":f1,"last":f2}  
df1 =pd.DataFrame(data1)

In [81]:
df.drop(["From_To"],axis =1)
df[first,last] =df1

ValueError: Wrong number of items passed 2, placement implies 1

In [82]:
df

   Airline  FlightNumber  From_To  RecentDelays  first  last
0      NaN           NaN      NaN           NaN    NaN   NaN
1      NaN           NaN      NaN           NaN    NaN   NaN
2      NaN           NaN      NaN           NaN    NaN   NaN
3      NaN           NaN      NaN           NaN    NaN   NaN
4      NaN           NaN      NaN           NaN    NaN   NaN

3. Notice how the capitalisation of the city names is all mixed up in this
temporary DataFrame. Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)

4. Delete the From_To column from df and attach the temporary DataFrame
from the previous questions.

5. In the RecentDelays column, the values have been entered into the
DataFrame as a list. We would like each first value in its own column, each 
second value in its own column, and so on. If there isn't an Nth value, the value
should be NaN.
Expand the Series of lists into a DataFrame named delays, rename the columns
delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df
with delays.

NameError: name 'python' is not defined